# This scripts creates a CSV version of the Keywords

name: CI

defaults:
  run:
    shell: bash

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run build
        shell: bash
        run: |
          sort -u ./facebook-groups-keywords.txt -o ./facebook-groups-keywords.txt
          tr '\n' ',' < ./facebook-groups-keywords.txt > ./facebook-groups-keywords.csv

      - name: Display the path
        run: echo $PATH
        shell: bash

      - name: Test script
        run: ./scripts/test.sh
        shell: bash

      - name: Test script2
        run: ./scripts/makecsv.sh
        shell: bash

      - name: Commit and push changes
        run: |
          git config --global user.name "mitchellkrogza"
          git config --global user.email "mitchellkrog@gmail.com"

          git add -A
          git commit -m "New Version"
          git push
